<footer id="footer">
    <p class="empty-field"></p>
    <p class="mobile">
        Телефон обслуговування:<br /><br />
        +38 (063) - 83 - 82 - 64<br />
        +38 (097) - 83 - 82 - 64
    </p>

    <p class="email">
        Електронна пошта запитань<br />і відповідей:<br /><br />flybuytickets.qanda&#64;gmail.com
    </p>

    <div class="social-medias">
        <p>
            Соціальні мережі:
        </p>
        <a href='https://web.telegram.org'>
            <img src="assets/images/footer/telegram.png" alt="Our telegram" />
        </a>

        <a href="https://www.viber.com/en/">
            <img src="assets/images/footer/viber.png" alt="Our instagram" />
        </a>

        <a href="https://www.instagram.com">
            <img src="assets/images/footer/instagram.png" alt="Our instagram" />
        </a>
    </div>

    <hr />

    <p>
        © FlyBuyTickets 2023<br />
        Сервіс авіабілетів
    </p>

    <p></p>

    <p class="footer-right">
        Політика конфіденційності<br />Партнери
    </p>
</footer>
