<div class="sales" id="sales">
    <h1 class="sales-title">Дешеві квитки на літак</h1>

    <div class="sales-box">
        <h2>Родинний тур</h2>
        <hr />
        <img src="assets/images/sales/family.png" alt="Сім'я, подорожуйте дешевше з сім'єю" />
        <p>
            Економте на <strong>родинних турах</strong>, подорожуючи сім’єю разом з нами. Кожна дитина віком до 8-ми років,
            яка подорожує з дорослим, може летіти за половину ціни. <strong>Знижка</strong> автоматично застосовується при
            бронюванні <strong>авіаквитків</strong> для батьків та дітей.
        </p>
    </div>

    <div class="sales-box">
        <h2>Осінні розпродажі</h2>
        <hr />
        <img src="assets/images/sales/leaves.png" alt="Осінь, осінні розпродажі" />
        <p>
            Отримуйте унікальний промокод для знижки <strong>на авіаквитки</strong> під час бронювання. Цей <strong>промокод</strong> надає
            15% знижки на всі рейси протягом <strong>осіннього розпродажу</strong>. Для зареєстрованих користувачів,
            що підписані на розсилку, доступна додаткова знижка 5%.
        </p>
    </div>

    <div class="sales-box">
        <h2>Зареєструйтеся і зекономте</h2>
        <hr />
        <img src="assets/images/sales/handshake.png" alt="Співпраця" />
        <p>
            Спеціальна <strong>акція для зареєстрованих</strong> клієнтів сайту, які мають акаунт. Всі зареєстровані 
            користувачі отримують сталу знижку в розмірі 10% на всі авіаквитки після входу в систему 
            та бронювання. Ця знижка доступна завжди і діє для всіх рейсів.
        </p>
    </div>
</div>
