.filters {
    display: grid;
    margin: 20px 30px;
    background-color: rgba(133, 133, 133, 0.7);
    border: solid 10px white;
    border-radius: 35px;
    padding: 40px 20px 0px 20px;
    grid-template-columns: repeat(auto-fit, 1fr);
    min-width: 600px;
}

.filters h1 {
    display: flex;
    grid-column: span 2;
    text-align: center;
    justify-self: center;
    align-self:end;
    margin: 0;
    color: white;
    font-size: 65px;
    font-weight: bold;
}

.filters p {
    font-size: 30px;
    margin: 10px;
    width: 185px;
    font-weight: bold;
    padding-left: 0px;
}

.compare-button {
    grid-column: span 2;
    width: 250px;
    background-color: #FF9400;
    border: solid white 5px;
    border-radius: 24px;
    margin: 10px;
    color: white;
    text-decoration: none;
    justify-self: center;
    text-align: center;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

.compare-button h2 {
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.compare-button:hover {
    background-color: white;
    border-color: #FF9400;
    color: #FF9400;
    cursor: pointer;
}

.filters-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 560px;
    background-color: white;
    min-width: 340px;
    max-width: 800px;
    margin: 3px;
    padding: 20px;
    justify-self: center;
    align-items: center;
    height: 70px;
}

.filters-box h2 {
    color: black;
    width: 185px;
}

.filters-input {
    border-color: black;
    font-size: 30px;
    text-align: end;
    justify-self: end;
    height: 50px;
    width: 280px;
}

.filters-direction {
    display: grid;
    grid-template-columns: 240px 60px;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.filters-direction label {
    display: grid;
    grid-template-columns: 50px 170px 10px;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    color: white;
}

.filters-direction img {
    justify-self: end;
}

.filters-direction input[type="radio"] {
    width: 20px;
    height: 20px;
    justify-self: start;
    
}

.filters-box1 {
    border-radius: 25px 0 0 0;
}

.filters-box6 {
    border-radius: 0 0 25px 0;
}

.travelers {
    display: grid;
    grid-template-columns: 1fr 50px 1fr 50px;
    align-items: center;
    justify-items: center;
    justify-self: end;
    gap: 10px;
    font-size: 25px;
    max-height: 70px;
}

.travelers p {
    margin: 0;
    justify-self: end;
}

.travelers button {
    width: 50px;
    height: 35px;
    font-size: 30px;
    border-radius: 18px;
    align-items: start;
}

option {
    margin: 20px;
}

.info {
    display: grid;
    margin: 10px;
    border-radius: 30px 30px 30px 30px;
    padding: 120px 20px 20px 20px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.info-box {
    display: grid;
    grid-template-rows: 70px 4fr;
    grid-template-columns: 80px 5fr;
    background-color: rgba(235, 139, 109, 0.9);
    min-height: 200px;
    margin: 20px 5px;
    padding: 30px 25px;
    justify-self: center;
    border-radius: 35px;
}

.info-box img {
    height: 70px;
}

.info-title {
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 0;
    justify-self: start;
    align-self: center;
    padding-left: 15px;
}

.info-text {
    grid-column: 1 / 3;
    font-size: 25px;
    line-height: 1.4;
    text-align: justify;
    align-self: center;
}

.unavailable {
    opacity: 0.4;
}

@media (max-width: 1200px) {
    .info-text {
        font-size: 35px;
    }
}

@media (max-width: 1400px) {
    .filters h1 {
        grid-column: auto;
    }

    .compare-button {
        grid-column: auto;
    }

    .filters-input {
        width: 280px;
        font-size: 25px;
    }
}